@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.stockpredictor {
    min-height: 84.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvas {
    min-height: 50vh;
}